<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Safe Carrier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../mobile.css">
</head>
<body>
<div id = "wrapper" style = "width: fit-content; margin:auto">
<h3 id="text" style = "margin:auto; width:fit-content">Safe Carrier 어플리케이션을 다운로드 받아 안전하게 데이터를 확인하세요!</h3>
<button id="button" style="margin:auto; display:block; margin-top:20px">사용하기</button>
</div>

</body>
</html>
